.Training2/.metadata
.Training2/.recommenders
.Training2/Biblioteca/.settings/
.Training2/Biblioteca/.classpath
.Training2/Biblioteca/.project
.Training2/NumereComplexe/.settings/
.Training2/NumereComplexe/.classpath
.Training2/NumereComplexe/.project
.Training2/StringGen/.settings/
.Training2/StringGen/.classpath
.Training2/StringGen/.project