.metadata
.recommenders
Biblioteca/.settings/
Biblioteca/.classpath
Biblioteca/.project
NumereComplexe/.settings/
NumereComplexe/.classpath
NumereComplexe/.project
StringGen/.settings/
StringGen/.classpath
StringGen/.project